**/*.svg
package.json
.umi
.umi-production
/dist
.dockerignore
.DS_Store
.eslintignore
*.png
*.toml
docker
.editorconfig
Dockerfile*
.gitignore
.gitattributes
.gitconfig
**/*.js.map
build/
**/*.ejs
.prettierignore
LICENSE
.eslintcache
*.lock
yarn-error.log
.history
CNAME
